body {
  font-family: Arial;
  background-color: rgb(251, 246, 240) ;
}
h1 {
  text-align: center;
}
.about-container {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  padding: 30px;
  justify-content: space-around;
}
.about-card {
  border-radius: 10px;
  border: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 600px;
  width: 350px;
  display: flex;
  flex-direction: column;
}
.profile-pic {
  object-fit: contain;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.details {
  text-align: center;
  line-height: 1.5;
  
  flex-direction: column;
  justify-content: space-around;
  display: flex;

  /* align-items: center; */
  padding-left: 10px;
}
.name {
  font-size: 18px;
  font-weight: bolder;
}
.roll-no {
  font-size: 14px;
  font-weight: bold;
}

.us{
  margin-top: 15px ;

}
